/* .rock-salt-regular {
    font-family: "Rock Salt", serif;
    font-weight: 400;
    font-style: normal;
} 
    font-family: "Oregano", serif;
  font-weight: 400;
  font-style: italic;
  */
/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    font-family: "Rock Salt", serif;
    font-weight: 400;
    font-style: normal;
}  


.navbar-brand img{
    width: 10rem;   

}
/*--------------INDEX---------------------*/
.box-principal{
    background-image: url(../media/img1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box-principal h2{
    font-family: "Rock Salt", serif;
    font-weight: 400;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    padding: 1rem;
}
.box-principal p{
    font-family: "Oregano", serif;
    font-weight: 500;
    font-style: oblique;
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10%;
}
/*--------------------FOOTER--------------------*/
.caja-footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: fit-content;
    align-items: center;
    justify-content: center;
}   
.redes{
    padding: 20%;
    max-width: 4.5rem;
    max-height: 4.5rem;
}
.marca{
    background-color: black;
    text-align: center;
    color: white;
    
}
/*----------------------DISCOGRAFIA------------------------*/

.cajadiscografia{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 10%;
}
.cajadiscografia img{
    max-width: 300px;
    max-height: 300px;
}
.cajaalbum{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 40%;
    grid-template-areas: 
    "tapa texto texto"
    "tapa audio audio";
    margin: 4px;
    border: 3px groove black;
}

.tapa{
    grid-area: tapa;
}
.texto{
    color: aliceblue;
    font-family: "Rock Salt", serif;
    font-weight: 400;
    background-color: rgba(12, 12, 12, 0.5);
    grid-area: texto;
    text-align: center;
    padding-top: 5%;
}
.audio{
    grid-area: audio;
}
/*---------------------GALERIA-------------------*/

.caja-fotos{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: (3, 1fr);
    grid-template-areas: 
    "calle calle"
    "pintura bajista"
    "bajovoz bajovoz";
}
.caja-fotos img{
    max-width: 100%;
    max-height: 100%;
}

.calle{
    grid-area: calle;

}
.bajo{
    grid-area: bajista;

}
.pintura{
    grid-area: pintura;
}
.bajoyvoz{
    grid-area: bajovoz;
}
/*---------------------INTEGRANTES--------------------------------------*/
.contenedor-historia{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: black;
}
.cantante{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    max-width: 100%;
}
.flea{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding-right: 5%;
    justify-content: space-between;
}
.chad{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 25%;
    max-width: 100%;
    justify-content: space-between;
}
.guitarra{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding-right: 5%;
}
.contenedor-historia div p{
    font-family: "Oregano", serif;
    font-weight: 1000;
    font-style: italic;
    font-size: larger;
    color: aliceblue;
    align-self: center;
    justify-content: center;

}
.banda-info{
    align-self: center;
    justify-self: center;
}





/*------Media queries-----*/
/*--MOVIL--*/
@media (max-width:500px){
    /*-------discografia--------------*/
    .cajadiscografia img{
        max-width: 300px;
        max-height: 300px;

    }
    .cajadiscografia{
        align-items: center;
    }
    .cajaalbum{
        display: flex;
        position: relative;
        max-width: 300px;
        max-height: 300px;
        justify-content: center;
    }
    
    .audio{
        width: 100%;
        position: absolute;
        bottom: 0%;
        
    }
    .texto{
        position: absolute;
        color: aliceblue;
        font-family: "Rock Salt", serif;
        font-weight: 400;
        background-color: rgba(12, 12, 12, 0.5 );
        top: 30%;
    }
    /*---------------------index--------------------------------------*/
    .box-principal{
        background-image: url(../media/FONDOindex.jpg);
        background-size: 100% auto;
        background-repeat: round;
    }
    .box-principal h2{
        font-size: medium;
    }

}