@import "variables";
.cartas1{
    @include flex(row,none,center);
    background-color: black;
    .card{
        margin: 2rem;
        border: 2px solid white;
        background-color: black;
        .card-text{
            color: aliceblue;
        }
        .card-img-top{
            max-width: 100%;
        }
    }
}
.cartas2{
    @extend .cartas1;
}