@import "variables";

.nav-link{
    font-family: $fuenteTitulos;
    font-weight: 400;
    font-style: normal;
    &:hover{
        transform: scale(1.5) rotate(-20deg);
    }
}

.logo{
    width: 10rem;
}
