@import "variables";
contenedor-historia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    background-color: black;
    p{
        font-family: $fuenteTextos;
        font-weight: 1000;
        font-style: italic;
        font-size: larger;
        color: aliceblue;
        align-self: center;
        justify-content: center;  
    }
    banda-info{
        align-self: center;
        justify-self: center;
    }
    cantante{
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        max-width: 100%;
        margin-right: 15%;
    }
    flea{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        padding-right: 5%;
        margin-left: 15%;
        justify-content: space-between; 
    }
    chad{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 15%;
        max-width: 100%;
        justify-content: space-between;
    }
    guitarra{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-left: 15%;
        padding-right: 5%;
    }
}