@import "variables";
.contenedor-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    background-color: black;
    h2{
        grid-area: titulo;
        font-family: $fuenteTitulos;
        color: white;
        justify-self: center;
    }
    h3,h4,h5{
        @extend h2;
    }
    p{
        font-family: $fuenteTextos;
        font-weight: 400;
        font-style: normal;
        font-size: larger;
        color: aliceblue;
        grid-area: info;
        margin-right: 5%;  
    }
    img{
        grid-area: foto;
        max-width: 300px;
        max-height: 350px;
    }
    /*.banda-info{
        align-self: center;
        justify-self: center;
    }*/
    .cantante{
        display: grid;
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "foto titulo titulo"
        "foto info info";
        justify-content: center;
        align-items: center;
        border: solid white 3px;
    }
    .flea{
        @extend .cantante;
        grid-template-columns: 1fr 1fr 300px;
        grid-template-areas: 
        "titulo titulo foto"
        "info info foto"; 
    }
    .chad{
        @extend .cantante;
    }
    .guitarra{
        @extend .flea;
    }
}